#hl_player video {
  width: 100%;
}

#hl_player .video-wrapper {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;
  border-radius: 10px;
}

#hl_player .video-wrapper:hover .controls {
  transform: translateY(0%);
  z-index: 2147483647;
}

#hl_player .controls {
  z-index: 2147483647;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  position: absolute;
  bottom: 3%;
  padding: 1%;
  width: 100%;
  max-width: 70vw;
  /* flex-wrap: wrap; */
  background: rgba(255, 255, 255, 0.25);
  box-shadow: rgba(255, 255, 255, 0.1) 0px 8px 32px 0px;
  backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  transform: translateY(150%);
  transition: all 0.3s ease-in-out 0s;
}

#hl_player .actions button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

#hl_player .actions button i {
  background-color: none;
  color: white;
  font-size: 30px;
}

/* anti bootstrap */
#hl_player img,
svg {
  vertical-align: unset !important;
}

/* chrome + firefox */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  #hl_player #rng_progress {
    overflow: hidden;
    width: 550px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #ffffff;
    cursor: pointer;
  }

  #hl_player #rng_progress::-webkit-slider-runnable-track {
    height: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: #ff0000;
    margin-top: -1px;
  }

  #hl_player #rng_progress::-webkit-slider-thumb {
    width: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 10px;
    cursor: pointer;
    background: #434343;
    box-shadow: -550px 0 0 550px #000000;
    border-left: 0.1px solid #6e6e6e;
    border-right: 0.1px solid #6e6e6e;
  }

  #hl_player #rng_progress::-moz-range-thumb {
    width: 15px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 100%;
    cursor: pointer;
    background: #434343;
    box-shadow: -550px 0 0 550px #000000;
    border-radius: 0 !important;
    border-color: #6e6e6e;
  }

  #hl_player #rng_volume {
    overflow: hidden;
    width: 150px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #ffffff;
    cursor: pointer;
  }

  #hl_player #rng_volume::-webkit-slider-runnable-track {
    height: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: #ff0000;
    margin-top: -1px;
  }

  #hl_player #rng_volume::-webkit-slider-thumb {
    width: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 10px;
    cursor: pointer;
    background: #434343;
    box-shadow: -150px 0 0 150px #000000;
    border-left: 0.1px solid #6e6e6e;
    border-right: 0.1px solid #6e6e6e;
  }

  #hl_player #rng_volume::-moz-range-thumb {
    width: 15px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 100%;
    cursor: pointer;
    background: #434343;
    box-shadow: -150px 0 0 150px #000000;
    border-radius: 0 !important;
    border-color: #6e6e6e;
  }
}

/* firefox */
#hl_player #rng_progress::-moz-range-progress {
  background-color: #000000;
}

#hl_player #rng_progress::-moz-range-track {
  background-color: #ffffff;
}

#hl_player #rng_volume::-moz-range-progress {
  background-color: #000000;
}

#hl_player #rng_volume::-moz-range-track {
  background-color: #ffffff;
}

/* ie */
#hl_player #rng_progress::-ms-fill-lower {
  background-color: #000000;
}

#hl_player #rng_progress::-ms-fill-upper {
  background-color: #ffffff;
}

#hl_player #rng_volume::-ms-fill-lower {
  background-color: #000000;
}

#hl_player #rng_volume::-ms-fill-upper {
  background-color: #ffffff;
}

#hl_player video::-webkit-media-controls {
  display: none !important;
}

#hl_player video::-moz-media-controls {
  display: none !important;
}

#hl_player .velocity {
  appearance: none;
  background: none;
  color: #000000;
  outline: none;
  border: none;
  text-align: center;
  font-size: 16px;
}

.play_progress_box {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

#hl_player .play-btn {
  margin-top: 1%;
}

.mute_volume_box {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

#hl_player .mute-btn {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  margin-top: 3%;
}

#hl_player .fullscreen-btn {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  margin-top: 3%;
}

#hl_player .mute-btn i {
  background-color: none;
  color: white;
  font-size: 20px;
}